apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
      version: v2
  template:
    metadata:
      labels:
        app: app
        version: v2
    spec:
      containers:
      - name: app
        image: rahulb069/canary-app:v2
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
